* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    border: 1px solid red;
    /* box-sizing: border-box; */
}

.search {
    border: 1px solid green;
    padding: 10px 180px;
}

.filterBtn {
    padding: 8px 15px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: #FECB0F;
    cursor: pointer;
    font-weight: bolder;
}

.resContainer {
    border: 1px solid yellow;
    padding: 20px 180px;
    display: flex;
    flex-wrap: wrap;

}